

<!--Diferente-->

<div class="main-content">
    <h3 class="text-center">&nbsp; Remesa</h3>
    
    <button [routerLink]= "['/remesas']" 
    class="btn btn-danger ">Regresar</button>
  

    <div class="container-fluid">
        
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h3 *ngIf="remesa.request!=='' " class="card-title">Editando Remesa</h3>
                        <h3 *ngIf="remesa.request=='' " class="card-title">Creando Remesa</h3>
                    </div>
                    <div class="card-body">
                        <form name="form" (ngSubmit)="forma.form.valid && guardar()" #forma="ngForm" novalidate>
                            
                            <div class="row">
                                    <div class="col-md-12">
                                        <label for="validationServer01">Solicitud:</label>
                                      
                                    
                                        <input 
                                        matInput 
                                        [(ngModel)]="remesa.request"
                                        name="request"
                                        class="form-control is-invalid"
                                        #request="ngModel" [ngClass]="{'is-invalid':forma.submitted && request.invalid}"
                                        id="validationServer01"
                                        placeholder="Dinero para pagar internet"
                                        type="text"
                                        required>
                                        <div class="invalid-feedback">
                                            INGRESE LA SOLICITUD
                                          </div>
                                      
                                    </div>
                                </div>
    
                            <div class="row">
                                <div class="col-md-12">
                                 
                                      <label>Estado</label>
                                      <select [(ngModel)]="remesa.status"
                                      class="form-control" name="status">
                                      <option>Por Revisar</option>  
                                      <option>Aprobada</option>
                                        <option>Aprobado Parcialmente</option>
                                        <option>Rechazado</option>
                                      </select>
                                  
                                </div>
                            </div>

                            <div class="row">
                                    <div class="col-md-12">
                                        <label for="validationServer02">Gobernacion:</label>
                                      
                                    
                                        <input 
                                        matInput 
                                        [(ngModel)]="remesa.governance"
                                        name="governance"
                                        class="form-control is-invalid"
                                        #governance="ngModel" [ngClass]="{'is-invalid':forma.submitted && governance.invalid}"
                                        id="validationServer02"
                                        placeholder="Gobernacion Valparaiso"
                                        type="text"
                                        required>
                                        <div class="invalid-feedback">
                                            INGRESE LA GOBERNACION
                                          </div>
                                      
                                    </div>
                                </div>
                            
                           
                          
                            <button 
                            mat-raised-button type="Submit" class="btn btn-info pull-right"
                            ><i class="fas fa-save"></i> Guardar Remesa</button >

                            
                            <div *ngIf="seCreo" class="alert alert-primary" role="alert">
                                    Remesa creada correctamente
                                  </div>
                             <div *ngIf="seActualizo" class="alert alert-success" role="alert">
                                     Remesa actualizada correctamente
                              </div>
                            
                            
                            
                        </form>
                    </div>
                </div>
            </div>
          
        </div>
    </div>
  </div>
  