
     
<div class="main-content">
          
  <div class="container-fluid">
      <div class="row text-center">
            <div class="col-md-6 text-left" >
                    <button
                    *ngIf="authority === 'admin' || authority === 'upf'  " 
                    [routerLink]="['/remesaPapelera']"
                     mat-raised-button type="submit" class="btn btn-outline-warning pull-left">
                     <i class="fas fa-recycle"></i>
                      IR A PAPELERA DE REMESAS</button>
                 </div>
                <div class="col-md-6 text-center" *ngIf="!authority === 'complejo'">
                    <button [routerLink]="['/remesa',0]"
                     mat-raised-button type="submit" class="btn btn-info pull-right">
                     <i class="fas fa-plus-circle"></i>
                      NUEVA REMESA</button>
                 </div>
              </div>
           
       <br> 
        
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title text-center">LISTADO DE REMESAS</h4>
                      <p > Listado de remesas por validar</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-striped">
                              <thead class=" text-primary">
                                  <th>ID</th>
                                  <th>
                                      Solicitud</th>
                                  <th>
                                      Estado  </th>
                                  <th class="text-center">
                                      Opciones </th>
                                 
                              </thead>
                              <tbody>
                                  <tr *ngFor=" let k of remesas | keys; let i = index">
                                    <td>{{remesas[k].id_consignment}}</td>
                                    <td>{{remesas[k].request}}</td>
                                    <td>{{remesas[k].status}}</td>
                                    <td class="text-center">
                                        &nbsp;
                                        &nbsp;
                                        &nbsp;
                                     <button  
                                     [routerLink]="['/remesaDetail',remesas[k].id_consignment]"
                                        type="button" class="btn btn-outline-info btn-sm" >
                                        <i class="fas fa-align-justify"></i>
                                        Revisar
                                        </button>
                                    <button  
                                    *ngIf="!authority === 'complejo' "
                                    [routerLink]="['/remesa', remesas[k].id_consignment]"
                                    type="button" class="btn btn-outline-success btn-sm" >
                                    <i class="fas fa-edit"></i>
                                    Editar
                                    </button>
                                    <button 
                                    *ngIf="!authority === 'complejo' || !authority === 'gobernacion'"
                                    (click)="cambiarEstado(remesas[k],remesas[k].id_consignment,'inactivo')"
                                    type="button" class="btn btn-outline-danger btn-sm">
                                    <i class="fas fa-trash-alt"></i>
                                        PAPELERA
                                    </button>

                                    </td>
                                    

                                  </tr>
                                                   
                                  
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
