<div class="main-content" *ngIf="authority === 'admin' || authority === 'upf' || authority === 'gobernacion'">
    <h3 class="text-center">&nbsp; Nuevo Item </h3>
    
    <button (click)="goBack()"
    class="btn btn-danger ">Regresar</button>
    <div class="container-fluid">
        
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <!--h3 *ngIf="remesa.request!=='' " class="card-title">Editando Remesa</h3-->
                        <h3 class="card-title">Nuevo Item</h3>
                    </div>
                    <div class="card-body">
                        <form name="form" (ngSubmit)="forma.form.valid && guardarItem()" #forma="ngForm" novalidate>
                            
                            
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="validationServer20">Tipo de Gasto:</label>
                                  
                                
                                    <input 
                                    matInput 
                                    [(ngModel)]="item.type_gast"
                                    name="type_gast"
                                    class="form-control is-invalid"
                                    #type_gast="ngModel" [ngClass]="{'is-invalid':forma.submitted && type_gast.invalid}"
                                    id="validationServer20"
                                    placeholder="Operacional"
                                    type="text"
                                    required>
                                    <div class="invalid-feedback">
                                        INGRESE EL TIPO DE GASTO CORRECTAMENTE
                                      </div>
                                  
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <label for="validationServer21">Resolucion:</label>
                                  
                                
                                    <input 
                                    matInput
                                    [(ngModel)]="item.resolution"
                                    name="resolution"
                                    class="form-control is-invalid"
                                    #resolution="ngModel" [ngClass]="{'is-invalid':forma.submitted && resolution.invalid}"
                                    id="validationServer21"
                                    placeholder="266"
                                    type="number"
                                    required>
                                    <div class="invalid-feedback">
                                        INGRESE EL TIPO DE RESOLUCION 
                                      </div>
                                  
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <label for="validationServer22">Orden de Compra:</label>
                                  
                                
                                    <input 
                                    matInput 
                                    [(ngModel)]="item.purchase_order"
                                    name="purchase_order"
                                    class="form-control is-invalid"
                                    #purchase_order="ngModel" [ngClass]="{'is-invalid':forma.submitted && purchase_order.invalid}"
                                    id="validationServer22"
                                    placeholder="2077-26-SE18"
                                    type="text"
                                    required>
                                    <div class="invalid-feedback">
                                        INGRESE LA ORDEN DE COMPRA
                                      </div>
                                  
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="validationServer23">NºFactura o boleta:</label>
                                  
                                
                                    <input 
                                    matInput 
                                    [(ngModel)]="item.bill_number"
                                    name="bill_number"
                                    class="form-control is-valid"
                                    #bill_number="ngModel" [ngClass]="{'is-valid':forma.submitted && bill_number.valid}"
                                    id="validationServer23"
                                    placeholder="14254"
                                    type="number"
                                    >
                                    
                                  
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    
                                    <label for="validationServer24">Rut:</label>
                                  
                                
                                    <input 
                                    
                                    matInput
                                     
                                    [(ngModel)]="item.rut"
                                    name="rut"
                                    
                                    class="form-control is-invalid"
                                
                                    #rut="ngModel" [ngClass]="{'is-invalid':forma.submitted && rut.invalid}"
                                    id="validationServer24"
                                    
                                    placeholder="77391830-9"
                                    type="text"
                                    
                                    required
                                    validateRut>
                                    <div class="invalid-feedback">
                                        INGRESE UN RUT VALIDO 
                                      </div>
                                  
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="validationServer25">Proveedor:</label>
                                  
                                
                                    <input 
                                    matInput 
                                    [(ngModel)]="item.provider"
                                    name="provider"
                                    class="form-control is-invalid"
                                    #provider="ngModel" [ngClass]="{'is-invalid':forma.submitted && provider.invalid}"
                                    id="validationServer25"
                                    placeholder="Axesat chile s.a"
                                    type="text"
                                    required>
                                    <div class="invalid-feedback">
                                        INGRESE EL PROVEEDOR 
                                      </div>
                                  
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="validationServer26">DETALLE:</label>
                                  
                                
                                    <input 
                                    matInput 
                                    [(ngModel)]="item.detail"
                                    name="detail"
                                    class="form-control is-invalid"
                                    #detail="ngModel" [ngClass]="{'is-invalid':forma.submitted && detail.invalid}"
                                    id="validationServer26"
                                    placeholder="Servicio Telefonia-internet junio 2018"
                                    type="text"
                                    required>
                                    <div class="invalid-feedback">
                                        INGRESE EL DETALLE
                                      </div>
                                  
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="validationServer27">Monto:</label>
                                  
                                
                                    <input 
                                    matInput 
                                    [(ngModel)]="item.money"
                                    name="money"
                                    class="form-control is-invalid"
                                    #money="ngModel" [ngClass]="{'is-invalid':forma.submitted && money.invalid}"
                                    id="validationServer27"
                                    placeholder="150000"
                                    type="number"
                                    required>
                                    <div class="invalid-feedback">
                                        INGRESE EL MONTO
                                      </div>
                                  
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="validationServer28">Item Presupuestario:</label>
                                  
                                
                                    <input 
                                    matInput 
                                    [(ngModel)]="item.budget_item"
                                    name="budget_item"
                                    class="form-control is-invalid"
                                    #budget_item="ngModel" [ngClass]="{'is-invalid':forma.submitted && budget_item.invalid}"
                                    id="validationServer28"
                                    placeholder="4.01.22.507"
                                    type="text"
                                    required>
                                    <div class="invalid-feedback">
                                        INGRESE EL ITEM PRESUPUESTARIO
                                      </div>
                                  
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="validationServer29">NOMBRE DEL ITEM:</label>
                                  
                                
                                    <input 
                                    matInput 
                                    [(ngModel)]="item.name_item"
                                    name="name_item"
                                    class="form-control is-invalid"
                                    #name_item="ngModel" [ngClass]="{'is-invalid':forma.submitted && name_item.invalid}"
                                    id="validationServer29"
                                    placeholder="Acceso a internet"
                                    type="text"
                                    required>
                                    <div class="invalid-feedback">
                                        INGRESE EL NOMBRE DEL ITEM
                                      </div>
                                  
                                </div>
                            </div>

                            <!--
                            
                            
                            
                            
                            
                               
                                
                             
                                -->
                           
                          
                            <button 
                             type="Submit" class="btn btn-info pull-right"
                            > <i class="fas fa-save"></i> Guardar Item</button >

                            
                            <div *ngIf="seCreo" class="alert alert-primary" role="alert">
                                    Item creado correctamente
                                  </div>
                             <div *ngIf="seActualizo" class="alert alert-success" role="alert">
                                     Item actualizado correctamente
                              </div>
                            
                            
                            
                        </form>
                    </div>
                </div>
            </div>
          
        </div>
    </div>
  </div>


  
