<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                
                <li>
                    <a >
                        Desarrollado por: Francisco Lagos
                    </a>
                </li>
                <li>
                    <a href="http://www.sigfe.gov.cl">
                        SIGFE
                    </a>
                </li>
                
            </ul>
        </nav>
        
    </div>
</footer>
